<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.detect_sdk_android">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:networkSecurityConfig="@xml/network_security_config">

    </application>
</manifest>